

html {
    background-color: #1F2937;
}

.signcontainer {
    display:flex;
    justify-content:center;
    background:white;
}

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    height: 70px;
    color: white;
    
}

.signbox {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px;
    background:rgb(130, 149, 255);
    height:250px;
    width: 1400px;
    box-sizing: border-box;
    border-radius:10px;
}

p#headtext {
    font-size:32px;
    font-weight:bolder;
}

p#subtext {
    font-size: 24px;
}
p#headtext, p#subtext{
    color:white;
}

p#mbtext {
    display:flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
}

.imgs {
    display:flex;
    justify-content: center;
    gap:35px;
}

.middlebody {
    
    display:flex;
    flex-flow: column;
    align-items: space-evenly;
    background-color: white;
    height:500px;
}

p#subimgtext {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.subinfo {
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.quote {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #E5E7EB;
    height: 500px;
}

p#quotetext {
    font-size:36px;
    font-style:italic;
    color: #1F2937;
    margin-right: 260px;
    margin-left: 260px;
}

p#signature {
    display:flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
    justify-content: flex-end;
    margin-top:-30px;
    margin-left:650px;
    align-self: center;
}

.subimg {
    border: solid rgb(90, 115, 255) 4px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    height: 150px;
    width: 150px;
    box-sizing: border-box;
    border-radius:10px;
}

button {
    width:100px;
    height:35px;
    line-height: 30px;
    box-sizing: border-box;
    background-color: #3882F6;
    color: white;
    border-radius:10px;
    border: 1px solid #000;
    font-weight:bolder;
    font-size:16px;
    margin-top: -10px;
}

.upbody {
    display:flex;
    flex-flow: row-reverse;
    justify-content:center;
    align-items:center;
    color: #f9faf8;
    
    margin-left: 205px;
    margin-right: 205px;
    margin-top: 50px;
    margin-bottom:40px;
}

.header {
    display:flex;
    justify-content:space-evenly;
    gap:52px;
    font-family: 'Roboto', sans-serif;
}

.image-placeholder {
    background-color: #eee;
    display: flex;
    height: 180px;
    margin: 5px;
    width: 700px;
}

ul {
    list-style-type: none;
}

.image-placeholder {
    display:flex;
    justify-content: center;
    align-items:center;
    color: black;
}

.leftcolumn {
    
    display:flex;
    flex-direction: column;
}

.smalltext {
    /**/
    word-wrap: break-word;
    margin-top: -65px;
    margin-right:40px;
}

p#middletext {
    align-items: flex-end;
    font-size: 48px;
    font-weight: 800;
    margin-left: -5px;
}

p#htext {
    display:flex;
    justify-content: flex-start;
    font-size:32px; 
    color:#f9faf8;
    font-weight:bold;
}
.links {
    display:flex;
    gap:25px;
    font-size: 18px;
    color: #E5E7EB;
    align-items: center;
    
}