html {
    background-color: #1F2937;
}

button {
    width:100px;
    height:35px;
    line-height: 30px;
    box-sizing: border-box;
    background-color: #3882F6;
    color: white;
    border-radius:10px;
    border: 1px solid #000;
    font-weight:bolder;
    font-size:16px;
    margin-top: -10px;
}

.upbody {
    display:flex;
    flex-flow: row-reverse;
    justify-content:center;
    align-items:center;
    color: #f9faf8;
    border: solid red 4px;
    margin-left: 205px;
    margin-right: 205px;
    margin-top: 50px;
}

.header {
    border: solid rgb(255, 0, 0) 4px;
    display:flex;
    justify-content:space-evenly;
    gap:52px;
    font-family: 'Roboto', sans-serif;
}

.image-placeholder {
    background-color: #eee;
    display: flex;
    height: 180px;
    margin: 5px;
    width: 700px;
}

ul {
    list-style-type: none;
}

.image-placeholder {
    display:flex;
    justify-content: center;
    align-items:center;
    color: black;
}

.leftcolumn {
    border: solid red 4px;
    display:flex;
    flex-direction: column;
}

.smalltext {
    /*border: solid red 4px;*/
    word-wrap: break-word;
    margin-top: -65px;
}

p#middletext {
    border:solid red 4px;
    align-items: flex-end;
    font-size: 48px;
    font-weight: 800;
    margin-left: -5px;
}

p#htext {
    border:solid red 4px;
    display:flex;
    justify-content: flex-start;
    font-size:32px; 
    color:#f9faf8;
    font-weight:bold;
}
.links {
    border:solid red 4px;
    display:flex;
    gap:25px;
    font-size: 18px;
    color: #E5E7EB;
    align-items: center;
    
}